body {
  background-color: #E0E0E0;
}

* {
  box-sizing: border-box;
}

.row {
  clear: both;

}
.row::before,
.row::after {
    content: '';
    clear: both;
}

.container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 95%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

/* header */
.container header {
  margin: 100px auto 0;
  text-align: center;
  height: 155px;
  border-bottom: 2px solid #E0E0E0;
}

.container header .fotodiv {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #E0E0E0;
  position: relative;
  bottom: 60px;
  overflow: hidden;
  margin: 0px auto;
}

.container header .fotodiv .fotoid {
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  transform-origin: top center;
  width: 100%;
}

 .container header h1 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: -40px;
}

/* main */
.container .row main {
  float: left;
  width: 58%;
  /* border: 1px solid black; */
}

.container p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 10px;
  color: #696969;
  text-align: justify;
  margin: 0px;
}

/* .main .acercade */
.container .row main .acercade {
  padding: 5px 0px;
}

/* .main .educacion */
.container .row main .educacion {
  padding: 0px;
}

.container .row main .educacion .year1 {

}

.container .fecha p {
  color: #000000;
  font-weight: bold;
}

.container .fecha {
  float: left;
}

.container main .educacion .year1 .bubble,
.container main .educacion .year2 .bubble {
  width: 90%;
  /* height: 0px; */
  /* padding: 0px; */
  background: #DCDCDC;
  /* border-radius: 0px; */
  /* margin: auto; */
  padding: 8px;
  float: right;
}

.container .bubble:after {
  content: '';
  border-style: solid;
  border-width: 7px 12px 7px 0;
  border-color: transparent black;
  float: left;
}

.container .row main .educacion .year1 {
  margin-bottom: 5px;
}

/* .main .experiencia */
.container .row main .experiencia {
  padding: 0px;
}

.container .row main .experiencia .empresa1 {

}

.container .fecha p {
  color: #000000;
  font-weight: bold;
}

.container .fecha {
  float: left;
}

.container main .experiencia .descripcion {
  width: 82%;
  /* height: 0px; */
  /* padding: 0px; */
  /* background: #DCDCDC; */
  /* border-radius: 0px; */
  /* margin: auto; */
  padding: 8px;
  float: right;
}

.container .row main .experiencia .empresa1 {
  margin-bottom: 5px;
}

/* .main y .aside */
.container .row main h2,
.container .row aside h2 {
  font-family: sans-serif;
  color: #FF7F50;
  font-size: 13px;
  font-weight: bold;
}

/* .aside */
.container .row aside {
  float: left;
  width: 38%;
  /* border: 1px solid black; */
  margin-left: 4%;
}

/* .aside .contacto */
.container .row aside .contacto {
  padding: 5px 0px;
}

.container .row aside .contacto ul {
  margin: 0px;
  padding: 0px 0px 0px 19px;
}

.container .row aside .contacto ul li {
  font-family: sans-serif;
  font-size: 10px;
  color: #696969;
  text-align: left;
}

/* .aside .skills */
.container .row aside .skills .python {
  width: 90%;
  margin: 5px 0px;
  background-color: #FF7F50;
  font-family: sans-serif;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-left: 3px;
}

.container .row aside .skills .html {
  width: 80%;
  margin: 5px 0px;
  background-color: #FF7F50;
  font-family: sans-serif;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-left: 3px;
}

.container .row aside .skills .css {
  width: 60%;
  margin: 5px 0px;
  background-color: #FF7F50;
  font-family: sans-serif;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-left: 3px;
}

.container .row aside .skills .js {
  width: 40%;
  margin: 5px 0px;
  background-color: #FF7F50;
  font-family: sans-serif;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-left: 3px;
}
.container .row aside .skills .php {
  width: 30%;
  margin: 5px 0px;
  background-color: #FF7F50;
  font-family: sans-serif;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-left: 3px;
}

/* .aside .idiomas */
.container .row aside .idiomas {
  padding: 5px 0px;
}

.container .row aside .idiomas .lenguaje {
  border-bottom: 2px solid #E0E0E0;
  padding: 0px 0px 16px 0px;
}

.container .row aside .idiomas .lenguaje p {
  float: left;
}

.container .row aside .idiomas .lenguaje .star-icon {
    color: #ddd;
    font-size: 12px;
    float: right;
    z-index: 10;
}


/* .aside .hobbies */
.container .row aside .hobbies {
  padding: 5px 0px;
}

.container .row aside .hobbies .square-fotografia p {
  font-family: sans-serif;
  color: white;
  background-color: #C54B8C;
  margin-right: 2px;
  padding: 3px;
  float: left;
}

.container .row aside .hobbies .square-deporte p {
  font-family: sans-serif;
  color: white;
  background-color: #C54B8C;
  margin-right: 2px;
  padding: 3px;
  float: left;
}

.container .row aside .hobbies .square-musica p {
  font-family: sans-serif;
  color: white;
  background-color: #C54B8C;
  margin-right: 2px;
  padding: 3px;
  float: left;
}



/* .footer */
.container .row footer {
  padding: 8px 0px;
  border-top: 2px solid #E0E0E0;
  width: 100%;
}

.container .row footer p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 8px;
  color: #696969;
  text-align: right;

}

.clearfix{
  clear: both;
}
